<div class="container-fluid">	
	<nav class="navbar navbar-fixed-top navbar-dark bg-primary">
		<!-- Brand -->
		<a class="navbar-brand" href="#">Monjy HaingoArilala :-)</a>
		<!-- Links -->
		<!--
		<ul class="nav navbar-nav pull-md-right">
			<li class="nav-item">
			<a class="nav-link" href="#">Link 1</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="#">Link 2</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="#">Link 3</a>
			</li>
		</ul>
		-->
	</nav>
	
</div>

<div class="container">
<router-outlet></router-outlet>
</div>
