.wrap {    
	margin: 20px;
}
.login-form {
  max-width: 500px;
  padding: 30px;
  margin: 0 auto;
  background-color: #eee;
  border:10px solid #eee;
  box-shadow:5px 8px 10px #777;
  }
.form-control {
  position: relative;
  font-size: 20px;
  height: auto;
  padding:15px;
}

input[type="text"] {
  margin-bottom: 0px;
  border-radius:5px
}

input[type="password"] {
  margin-bottom: 10px;
  border-radius:5px
}
.colorbar {
    margin-top: 15px;
	margin-bottom:2px;
	clear: both;
    border-radius:10px;
	height:5px;
    background-image: -webkit-linear-gradient(left,#D52F64,#2FB6D5,#48D52F,#C4D52F,#F8CFB2,#482FD5);
	background-image: -moz-linear-gradient(left,#D52F64,#2FB6D5,#48D52F,#C4D52F,#F8CFB2,#482FD5);
	background-image: -ms-linear-gradient(left,#D52F64,#2FB6D5,#48D52F,#C4D52F,#F8CFB2,#482FD5);
	background-image: -o-linear-gradient(left,#D52F64,#2FB6D5,#48D52F,#C4D52F,#F8CFB2,#482FD5);
}