<div class="wrap">
  <form #formData='ngForm' class="login-form center-block" (ngSubmit)="onSubmit(formData)">
      <h2 class="form-header">Inscription</h2>
			<hr class="colorbar"><br>  <!-- colorbar -->
      <div class="form-group">
        <input type="text" id="email" name="email" class="form-control input-lg" placeholder="Email" (ngModel)="email" requred>
      </div>
      <div class="form-group">
        <input type="password" class="form-control input-lg" placeholder="Password" id="password" name="password" (ngModel)="password" required>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="!formData.valid">Se connecter</button>
        <span class="pull-right"><a href="/login">Vous possédez déjà un compte ? Connexion</a></span>
      </div>
  </form>
</div>