/* You can add global styles to this file, and also import other style files */
body{
    padding-top:70px;
}

.navbar-light .navbar-nav .nav-link {
    color: #5cb85c;
}
navbar-light .navbar-brand, .navbar-light .navbar-toggler {
    color:#fff;
}
.text-center{
    display:block;
    margin: 200px auto;
    width:200px;
    height:200px;
}